<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <h4>Enter New Item Information:</h4>
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    required 
                    [(ngModel)]="item.name"
                    name="name"
                />
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input
                    type="text"
                    class="form-control"
                    id="brand"
                    required 
                    [(ngModel)]="item.brand"
                    name="brand"
                />
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input
                    type="text"
                    class="form-control"
                    id="type"
                    required 
                    [(ngModel)]="item.type"
                    name="type"
                />
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input
                    type="text"
                    class="form-control"
                    id="size"
                    required
                    [(ngModel)]="item.size"
                    name="size"
                />
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input
                    type="text"
                    class="form-control"
                    id="color"
                    required
                    [(ngModel)]="item.color"
                    name="color"
                />
            </div>
            <div class="form-group">
                <label for="image-url">Image URL</label>
                <input
                  type="text"
                  class="form-control"
                  id="image-url"
                  [(ngModel)]="item.imageUrl"
                  name="image-url"
                />
              
            </div>

            <button (click)="saveItem()" class="btn btn-info">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Item was submitted successfully</h4>
            <button class="btn btn-success" (click)="newItem()">Add</button>
        </div>
    </div>
</div>